* {
    margin: 0;
    padding: 0;
}

body, body * {
    font-family: Work Sans, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.navbar {
    z-index: 9999;
}

.dropdown-item:hover {
    /*font-size: 0.7rem !important;*/
    color: white !important;
    background-color: #ff7d1a !important;
    padding: 2px;
    opacity: 1;
}

.dropdown-item {
    padding: 2px;
    opacity: 0.8;
    /*background-color: #4265a2 !important;*/
    /*font-size: 0.8rem !important;*/
}

#topbar {
    height: 44px;
    color: black;

}

.dropdown-menu{
    margin: 0 0 0;
}



#topbar #phone {
    font-size: 0.8rem !important;
    font-weight: bold;
}

#topbar #phone #email {
    font-size: 0.7rem !important;
    font-weight: lighter;
}

#header {
    /*background-color: #4768a4 !important;*/
    background-color: #ed6e1d !important;
    height: 100px;
}

.nav-link {
    color: white !important;
    font-size: 16px;
    background-color: #ed6e1d !important;
}

.hero-image {
    color: white;
    min-height: 70vh;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*position: relative;*/
    z-index: -9000;
}


.hero-image h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 50px;
}

.hero-image h3 {
    font-size: 30px;
    font-weight: 700;
    text-transform: inherit;
    margin-bottom: 30px;
}

.hero-image p {
    font-size: 16px !important;
    letter-spacing: 0;
    line-height: 32px;
    font-family: "roboto", sans-serif;
    font-weight: 300;
    margin: 0px !important;
    padding: 0px !important;
    text-align: center;
}

.detail-hero-image {
    color: white;
    min-height: 70vh;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.btn-default {
    background: #4265a2;
    /*background: #ed6e1d !important;;*/
    padding: 12px 30px;
    border-radius: 5px;
    color: #fff;
    width: 300px;
    margin: 0px auto;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}

.btn-apply-now {
    background: #4265a2;
    /*background: #ed6e1d !important;;*/
    padding: 12px 30px;
    border-radius: 5px;
    color: #fff;
    margin: 0px auto;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}

.btn-default:hover {
    background: #ed6e1d;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.text-default {
    color: #4265a2;
}

.small-text {
    color: #ffffff !important;
    font-size: 18px;
}

.wrapper-1 {
    background-color: #f8f8f8;
}

.wrapper-2 {
    background-color: #fff;
    color: #000 !important;
}

.wrapper-3 {
    background-color: #ed6e1d !important;
}

.wrapper h2 {
    color: #ed6e1d;
}

.wrapper h4 {
    color: #ed6e1d;
}

.wrapper a {
    /*font-size: 20px;*/
    color: #ed6e1d;
}

.wrapper h1 {
    color: #ed6e1d;
}

.wrapper h3 {
    color: #ed6e1d;
}

.wrapper h5 {
    color: #ed6e1d;
}

.wrapper h6 {
    font-size: 17px;
    color: #ed6e1d;
}

.wrapper p {
    font-weight: normal !important;
}

.white-background {
    background-color: white !important;
}

.card {
    border: none !important;
    border-radius: 0px 10px 0px 10px !important;
}

.counters {
    text-align: center;
}

.widget {
    margin-bottom: 30px;
    position: relative;
    padding: 0;
    background: 0 0;
}

.counters.style1 .counter {
    color: #fff !important;
    font-size: 36px;
    line-height: inherit;
}

.counters h5 {
    font-size: 14px;
    color: #fff !important;
    font-weight: 400;
    margin: 0;
}


.destination ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.footer {
    color: white;
    font-weight: medium
}

.footer ul {
    list-style-type: none;
}

.footer ul li a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

blockquote {
    background-repeat: no-repeat;
    margin: 0;
    padding: 15px 0 0;
}

blockquote p {
    font-size: 14px !important;
    color: #000 !important;
    font-weight: lighter !important;
    font-style: italic;
}

.social-icon a {
    background: #ed6e1d;
    text-decoration: none;
    color: white;
}

.side-bar {
    background: white;
}

.side-heading {
    background: #ed6e1d;
}

.side-heading h3 {
    color: white;
}

.side-bar ul li a {
    color: black !important;
    font-weight: lighter !important;
    font-size: medium;
}

.related-project ul li a {
    color: black !important;
    font-weight: lighter !important;
    font-size: medium;
}

.related-project ul {
    list-style: circle;
}

.related-project ul li a {
    color: #000000;
}

.package-detail .tab-item {
    color: #4265a2 !important;
}

.package-detail .tab-item:hover {
    color: white !important;
    background: #ed6e1d !important;
}

.package-detail nav .active {
    color: white !important;
    background: #ed6e1d !important;
}

.package-detail .main_list {
    list-style: circle;

}

.package-detail table thead {
    list-style: circle;
    background: #ed6e1d !important;
    color: white;
}

.cover-image {
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#tab-list {
    color: white !important;
}

.tab-link {
     background-color: #ffffff !important;
}

@media only screen and (min-width: 600px) {
    .cover-image {
        min-height: 550px;
    }
}


